body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;

    
}

.lista {
    list-style: none !important;
    justify-content: space-around;
    padding: 4px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: rgb(255, 208, 0);
    font-family: fantasy;
    background-color: #ffffff;
    margin-top: auto;
    border-bottom: 1px solid #000000;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.lista li {
    margin: 0 80px;
    display: inline;
}

.lista li:hover {
    background-color: black;
    padding: 10px;
    color: rgb(255, 208, 0);
    transition: all 0.6s;
    border-radius: 50px;
}

.hambu-img {
    max-width: 100%; 
    display: block;
    margin: 0 auto; 
}

.imagen-texto {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
}

p {
    margin-right: 20px;
}

.logo-nav {
    width: 70px;
    margin-left: 10px;
}

.icono-perfil {
    width: 40px;
    display: block; 
    margin: 0 auto;
}

footer {
    background-color: #e4e4e4;
    color: rgba(255, 255, 255, 0.966);
    padding: 20px;
    text-align: center;
    background-image: url('../IMG/img-footer.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}


@media (max-width: 767px) {
    .lista {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    .lista li {
        margin: 10px 0;
    }
    
}



footer ul {
    list-style: none; 
    padding: 0;
    display: flex;
    justify-content: center;
}


.linea-menu {
    text-align: center;
}

.linea-menu hr {
    border: 1px solid black; 
}

.menu-titulo {
    
    color: rgb(255, 208, 0);
    font-size: 35px; 
    padding: 10px; 
    display: inline-block; 
}
.m1 {
    color: rgb(255, 208, 0);
    font-size: 25px; 
    padding: 10px; 
    display: inline-block; 
}

.menu {
    text-align: center;
    margin: 20px;
}



.menu-item {
    border: 1px solid #ccc; 
    padding: 20px;
    margin: 10px;
}

.menu-item h2 {
    font-size: 18px;
    margin: 0;
}

.menu-item p {
    margin: 10px 0;
}

.precio {
    color: green;
    font-weight: bold;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 208, 0);
}

#nosotros {
    background-color: #f4f4f4;  
    padding: 20px;
}

#nosotros h2 {
    font-size: 24px;
    margin-top: 20px;
}

#nosotros p {
    font-size: 16px;
    line-height: 1.4;
}



    
.redes-sociales a img {
    width: 40px; 
    height: 40px; 
    margin: 5px; 
    transition: background-color 0.3s;
}


@media (max-width: 768px) {
    .redes-sociales a img {
        width: 30px; 
        height: 30px;
        margin: 4px;
    }
}

.redes-sociales a img:hover {
   
    transform: scale(1.3);
}




