
/* Estilos para la lista de navegación */
.lista {
    list-style: none;
    justify-content: space-between;
    padding: 10px; /* Añade espacio alrededor de la lista */
    position: fixed; /* Fija la lista en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    color: yellow;

}

.lista li {
    margin: 0 80px;
}

/* Estilos para los botones */
.lista li {
    display: inline; /* Hace que los elementos de lista se muestren en línea */
}

.lista li a {
    text-decoration: none; /* Quita la decoración de subrayado de los enlaces */

}
